.desc-text {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;

}

.desc-text-appear {
  opacity: 1;
  transform: translateY(0px);
}

.macbook-animation {
  opacity: 0;
  transform: translateX(20px);
  transition: 1s all ease-in-out;

}

.macbook-animation-appear {
  opacity: 1;
  transform: translateX(0px);
}



.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

//no animation queries





