<div class="container fade-in">
  <div id="project-navigation" class="row padding">
      <div class="col-md-3">
        <a class = "project1 a-secondary" href="#" >PROJECT/01</a>
        <br>
        <a class = "project2 a-secondary" href="#">PROJECT/02</a>
      </div>
    </div>
    <div id="project1" class="row padding">
      <div class="col-md-6 p-0 desc-text">
        <a class="a-secondary" href="https://www.inkfinder.design/" target="_blank"><h2>Inkfinder</h2></a>
        <h3>Website</h3>
        <br>
        <p class="desc-text">
          A Webapp which connects people who want to get tattoos and tattoo artists.
          Completed in 10 days in a team of four people. The experimental color pallete for this project was extremely minimal and to some extent extreme. However, due to the nature
          of the product we recieved a lreceivedsitive feedback from users.
        </p>
      </div>
      <div class="col-md-6">
        <div class="macbook macbook-animation">
          <a class="a-secondary" href="https://www.inkfinder.design/" target="_blank">
            <div class="screen">
              <div class="viewport" style="background-image:url('https://i.ibb.co/TM1sDYd/Capto-Capture-2020-09-26-10-51-12-am.png');"></div>
            </div>
          </a>
          <div class="base"></div>
          <div class="notch"></div>
      </div>
      </div>
    </div>

    <div id="project2" class="row padding">
      <div class="col-md-6 p-0 desc-text">
        <a class="a-secondary" href="https://rent-my-ride.herokuapp.com/" target="_blank"><h2>RENT MY RIDE</h2></a>
        <h3>Website</h3>
        <br>
        <p class="desc-text">
          A Webapp which acts like an airbnb for motorcycles and bicycles. A very short project completed in one week.
          The color pallete and overall design choice for this project was simple and conventional. Given time constraints, there wasn't
          enough time for experimentation, so usability was top priproty from start to finish.
        </p>
      </div>
      <div class="col-md-6">
          <div class="macbook macbook-animation">
          <a href="https://rent-my-ride.herokuapp.com/" target="_blank">
            <div class="screen">
              <div class="viewport" style="background-image:url('https://i.ibb.co/DzYmpqk/Capto-Capture-2020-09-26-11-16-13-am.png');"></div>
            </div>
          </a>
          <div class="base"></div>
          <div class="notch"></div>
      </div>
       </a>
      </div>
    </div>
</div>
  <button id="btnScrollToTop">
 <span class="material-icons">
arrow_upward
</span>
  </button>
