<div class="container fade-in">
  <div class="row mt-5">
    <div class="col-sm-12">
      HAVE A PROJECT IN MIND OR WANT TO CHAT? TELL ME YOUR STORY AND LET’S BRING IT TO LIFE ON THE WEB.
    </div>
    <div class="col-sm-12 pt-5">
      I RESPOND QUICKLY, PROMISE : )
    </div>
    <div class="col-sm-12 pt-5">
      <a class="email bold underline" href="mailto:aslanfakhri@gmail.com" target="_blank">ASLANFAKHRI@GMAIL.COM</a>
    </div>
  </div>
  <p></p>
</div>
</div>
