<div class="container fade-in">
  <div class="row mt-3">
    <div class="col-sm-12">
      <p class="contact-text">LET'S CONNECT</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-6">
      <p>HAVE A PROJECT IN MIND OR WANT TO CHAT? TELL ME YOUR STORY AND LET’S BRING IT TO LIFE ON THE WEB.</p>
      <br>
      <p>I RESPOND QUICKLY, PROMISE : )</p>
      <br>
      <br>
      <a class="bold underline" href="mailto:aslanfakhri@gmail.com" target="_blank">ASLANFAKHRI@GMAIL.COM</a>
  </div>
  <p></p>
</div>
