
  <div class="project-navigation fade-in">
     <a class = "project1 a-secondary" href="#" >PROJECT/01</a>
     <a class = "project2 a-secondary" href="#">PROJECT/02</a>
  </div>
  <div class="container-main fade-in">
  <div class="box2">
    <div class="description">
      <a class="a-secondary" href="https://www.inkfinder.design/" target="_blank"><h2>Inkfinder</h2></a>
      <h3>Website</h3>
      <p>
      A Webapp which connects people who want to get tattoos and tattoo artists.
      Completed in 10 days in a team of four people. The experimental color pallete for this project was extremely minimal and to some extent extreme. However, due to the nature
      of the product we recieved a lreceivedsitive feedback from users.
    </p>
    </div>
      <a href="https://www.inkfinder.design/" target="_blank">
      <img class="image-phone" src="https://res.cloudinary.com/dimly1skf/image/upload/v1600466951/jake-davies-0C3JoxAJW0I-unsplash_fyq6vt.jpg" width="400" height="450">
    </a>

  </div>
  <div class="box3">
    <div class="description">
      <a class="a-secondary" href="https://rent-my-ride.herokuapp.com/" target="_blank"><h2>RENT MY RIDE</h2></a>
      <h3>Website</h3>
      <p>
      A Webapp which acts like an airbnb for motorcycles and bicycles. A very short project completed in one week.
      The color pallete and overall design choice for this project was simple and conventional. Given time constraints, there wasn't
      enough time for experimentation, so usability was top priproty from start to finish.
    </p>
    </div>
    <a href="https://rent-my-ride.herokuapp.com/" target="_blank">
      <img class="image-phone" src="https://i.ibb.co/KmYDMKv/photo-1591459782318-21e78e0136f4.jpg" width="400" height="450">
    </a>
  </div>
</div>
  <button id="btnScrollToTop">
 <span class="material-icons">
arrow_upward
</span>
  </button>
