<div class="container-contents">
  <div class="menu">
    <div class="label">
      <%= link_to 'FAKHRI ASLAN', root_path, class: "a-primary" %>
    </div>
    <div class="spacer"></div>
    <div class="item"><span>Projects</span></div>
    <div class="item"><span>cv</span></div>
    <div class="item"><span>contact</span></div>
    <div class="item"><span>instagram</span></div>
    <div class="item"><span>linkedin</span></div>
  </div>
</div>
