<div id="navigationn" class="with-padding">
  <div class="project-navigation">
     <a class = "project1 a-secondary" href="#" >PROJECT/01</a>
     <a class = "project2 a-secondary" href="#">PROJECT/02</a>
     <a class = "project3 a-secondary" href="#">PROJECT/03</a>
  </div>
  <div class="box2">
    <div class="description">
      <h2>INKFINDER</h2>
      <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text.
      It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
    </p>
    </div>
    <a href="https://www.inkfinder.design/" target="_blank">
      <div class="image-wrapper">
        <img class="image-1" src="https://i.ibb.co/64M89sg/photo-1507251217843-301ac7bf2afd.jpg" width="400" height="400" />
        <img class="image-2" src="https://i.ibb.co/64M89sg/photo-1507251217843-301ac7bf2afd.jpg" width="400" height="400" />
        <img class="image-3" src="https://i.ibb.co/64M89sg/photo-1507251217843-301ac7bf2afd.jpg" width="400" height="400" />
        <img class="image-4" src="https://i.ibb.co/64M89sg/photo-1507251217843-301ac7bf2afd.jpg" width="400" height="400" />
      </div>
    </a>
  </div>
  <div class="box3">
    <div class="description">
      <h2>RENT MY RIDE</h2>
      <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text.
      It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
    </p>
    </div>
    <a href="https://rent-my-ride.herokuapp.com/" target="_blank">
    <div class="image-wrapper">
      <img class="image-1" src="https://i.ibb.co/KmYDMKv/photo-1591459782318-21e78e0136f4.jpg" width="400" height="400" />
      <img class="image-2" src="https://i.ibb.co/KmYDMKv/photo-1591459782318-21e78e0136f4.jpg" width="400" height="400" />
      <img class="image-3" src="https://i.ibb.co/KmYDMKv/photo-1591459782318-21e78e0136f4.jpg" width="400" height="400" />
      <img class="image-4" src="https://i.ibb.co/KmYDMKv/photo-1591459782318-21e78e0136f4.jpg" width="400" height="400" />
    </div>
    </a>
  </div>
</div>
