  <div class="container fade-in">
    <div class="row mt-5">
      <div class="col-md-1">
        <p><strong>EDUCATION</strong></p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">
        2019
      </div>
      <div class="col-md-10">
        MSC SOFTWARE ENGINEERING AT CITY, UNIVERSITY OF LONDON
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-1">
        <p><strong>SKILLS</strong></p>
      </div>
      </div>
      <div class="row mt-2">
         <div class="col-md-3">
          UX/UI<br>
          SKETCH<br>
          FIGMA
         </div>
          <div class="col-md-3">
            HTML<br>
            CSS<br>
            JAVASCRIPT
          </div>
           <div class="col-md-3">
            RUBY<br>
            RUBY ON RAILS<br>
            POSTGRESQL
           </div>
      </div>

      <div class="row mt-5">
      <div class="col-md-3">
        <p><strong>SOCIAL ACTIVITIES</strong></p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">
        2018
      </div>
      <div class="col-md-10">
        INTERN AS AN IT TECHNICAL SUPPORT OFFICER AT GRAND PRIX OF EUROPE, BAKU/AZERBAIJAN
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-2">
        2018
      </div>
      <div class="col-md-10">
        PRESIDENT OF THE EFFECTIVE ALTRUISM SOCIETY AT CITY, UNIVERSITY OF LONDON
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-2">
        2019
      </div>
      <div class="col-md-10">
        VIPASSANĀ MEDITATION INSTRUCTOR AT CITY, UNIVERSITY OF LONDON PSYCHOLOGY SOCIETY
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4">
        <p><strong>PROFESSIONAL DEVELOPEMENT</strong></p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">
        2020
      </div>
      <div class="col-md-10">
        FULLSTACK WEB DEVELOPEMENT BOOTCAMP AT  LE WAGON, LONDON, UK
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-2">
        2020
      </div>
      <div class="col-md-10">
        THE PRACTICAL GUIDE TO USABILITY AT INTERACTION DESIGN FOUNDATION
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-2">
        2020
      </div>
      <div class="col-md-10">
        HUMAN-COMPUTER INTERACTION AT INTERACTION DESIGN FOUNDATION
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-2">
        2020
      </div>
      <div class="col-md-10">
        MOBILE USER EXPERIENCE DESIGN AT INTERACTION DESIGN FOUNDATION
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-2">
        2020
      </div>
      <div class="col-md-10">
        INTERACTION DESIGN FOR USABILITY AT INTERACTION DESIGN FOUNDATION
      </div>
    </div>



  </div>


