<div class="container-home fade-in">
  <%= link_to pages_contents_url do %>
    <div class="image-half">
      <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1600466764/headshot3_e59z9z.jpg" >
    </div>
  <% end %>
  <div class="text-half fade-in">
    <div class="intro">
      <h1 class="bold">ASLAN FAKHRI</h1>
    <br>
    UI/UX DEVELOPER /
    <br>
    PHILANTHROPIST /
    <br>
    ART LOVER
    <br>
    <br>
    <br>
    <%= link_to pages_contents_url, class: "a-primary" do  %>
      <p class="a-secondary bold">VIEW PROJECTS</p>
    <% end %>
    </div>
  </div>
</div>

