<div class="hide">
  <div class="container-home fade-in">
    <%= link_to pages_contents_url do %>
    <div class="image-half">
      <img src="https://res.cloudinary.com/dskqdukq4/image/upload/v1605194217/headshot3_akkpz3.jpg" >
    </div>
  <% end %>
  <div class="text-half">
    <div class="intro">
      <h1 class="">ASLAN FAKHRI</h1>
    <span>UI/UX ENGINEER /</span>
    <br>
    <span>PHILANTHROPIST /</span>
    <br>
    <span>ART LOVER</span>
    <br>
    <br>
    <br>
    <%= link_to pages_contents_url, class: "a-primary" do  %>
      <p class="a-secondary view-projects">VIEW PROJECTS</p>
    <% end %>
    </div>
  </div>
</div>
</div>

