<div class="container">
  <div class="image-half">
    <img src="https://i.ibb.co/7Rkx8nj/version-2.jpg" >
  </div>
  <div class="text-half">
    <%= link_to pages_contents_url, class: "a-primary" do  %>
      <h1 class="my-name">FAKHRI ASLAN</h1>
    <% end %>
  </div>
</div>

