<div class="container">
  <div class="image-half fade-in">
    <img src="https://i.ibb.co/TBrZSTZ/version-2.jpg" >
  </div>
  <div class="text-half fade-in">
    <%= link_to pages_contents_url, class: "a-primary" do  %>
      <h1 class="my-name">ASLAN FAKHRI</h1>
    <% end %>
  </div>
</div>

