.project-navigation {
  height: 100vh;
  background-color: #F7E01A;
  display: flex;
  flex-direction: column;
}

.box2 {
  height: 100vh;
  background-color: #53B6EF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 {
  height: 100vh;
  background-color: #C9ED53;
  display: flex;
  justify-content: center;
  align-items: center;
}

