.project-navigation {
  height: 100vh;
  width:100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.box2 {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box2 img {
  object-fit: cover;
}

.box3 img {
  object-fit: cover;
}

.box2 p {
  width: 400px;
  height: 400px;
}

.box3 {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.box3 p {
  width: 400px;
  height: 400px;
}

//
.image-phone {
  display: none;
}
.image-wrapper {
  width: 600px;
  height: 400px;
  position: relative;
  margin-left: 25vh;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  object-fit: cover;
}

.image-1 {
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-10px, -10px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-2 {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-30px, 5px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-3 {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-15px, -10px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-4 {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-32px, 5px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

#btnScrollToTop {
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  width: 50px;
  height: 50px;
  display: none;
  background-color: white;
  outline: none;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#btnScrollToTop:hover {
  background-color: black;
  color: white;

}

//queries

@media screen and (max-width: 864px) {
.image-wrapper {
  display: none;
}
.box2 {

  padding: 0;
  margin: 0;
}

.box3 {

  padding: 0;
  margin: 0;
}

.with-padding {
  padding: 0;

}


}




