#project1 p {
  text-align: justify;
}



#project2 p {
  text-align: justify;
}


#btnScrollToTop {
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  width: 50px;
  height: 50px;
  display: none;
  background-color: white;
  outline: none;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#btnScrollToTop:hover {
  background-color: black;
  color: white;

}

//medi queries

@media (min-width: 320px) {

  h2 {
    font-size: 25px;
  }

  h1 {
  font-size: 20px;
}

  p {
  font-size: 9px;
  }

  .image-phone {
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: auto;
}

.padding {
  padding: 100px 0;
}

.col-md-6 {
    padding: 0;
  }

.text-half {
  padding-left: 20px;
}

}
@media (min-width: 360px) {
  .image-phone {
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: auto;
}

.padding {
  padding: 100px 0;
}

h1 {
  font-size: 25px;
}

p {
  font-size: 12px;
  }

  .col-md-6 {
    padding: 0;
  }

h2 {
  font-size: 25px;
}

.text-half {
  padding-left: 20px;
}


 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  p {
  font-size: 9px;
  }

  .image-phone {
  object-fit: cover;
  padding-left: 40px;
  width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
}


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

   p {
      font-size: 13px;
    }

  .image-phone {
    object-fit: cover;
    padding-left: 40px;
    width: 100%;
    height: auto;
  }

  h2 {
    font-size: 30px;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  h2 {
    font-size: 35px;
  }
  .image-phone {
  object-fit: cover;
  padding-left: 40px;
  width: 100%;
  height: auto;
}

p {
  font-size: 16px
  }

.container {
  padding: 100px 40px;
}

.padding {
  padding: 200px 0;
}

.vertical-text {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
     left: -40px;
     top: 35px;
     position: absolute;
     color: #FFF;
     text-transform: uppercase;
     font-size: 26px;
     font-weight: bold;
}


}



