#project1 p {
  text-align: justify;
}



#project2 p {
  text-align: justify;
}


#btnScrollToTop {
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  width: 50px;
  height: 50px;
  display: none;
  background-color: white;
  outline: none;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}



//medi queries

@media (min-width: 320px) {

  .image-phone {
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: auto;
}

.padding {
  padding: 100px 0;
}

.col-md-6 {
    padding: 0;
  }

.text-half {
  padding: 0 20px;
}

p {
  font-weight: 500;
}


}

@media (min-width: 360px) {


  p {
  font-weight: 500;
}


  .image-phone {
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: auto;
}

.padding {
  padding: 100px 0;
}




  .col-md-6 {
    padding: 0;
  }



.text-half {
  padding: 0 20px;
}


 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  p {
  font-weight: 500;
}


  .image-phone {
  object-fit: cover;
  padding-left: 40px;
  width: 100%;
  height: auto;
}



.text-half {
  padding: 0 30px;
}





}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {





  .image-phone {
    object-fit: cover;
    padding-left: 40px;
    width: 100%;
    height: auto;
  }



  .text-half {
  padding: 0 35px;
 }

p {
  font-weight: 400;
}



}



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {



  .image-phone {
  object-fit: cover;
  padding-left: 40px;
  width: 100%;
  height: auto;
}



.container {
  padding: 100px 40px;
}

.padding {
  padding: 200px 0;
}

.text-half {
  padding: 0 40px;
 }

p {
  font-weight: 400;
}

}



